// _variables.scss
// Definindo as variaveis do projeto
$cor-fundo: #f5f6fa;
$cor-header: #182C61;
$cor-botao: #44bd32;
$cor-botao-hover: #4cd137;
$max-width-container: 1024px;
$padding-section: 56px;
$margin-produto: 40px;
