// main.scss
@import 'reset';
@import 'variables';
@import 'header';

body {
    background-color: $cor-fundo;
}

li {
    list-style: none;
}

.container {
    max-width: $max-width-container;
    width: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

section {
    padding: $padding-section 0;
}

.products {
    margin-top: $margin-produto;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item {
        img {
            width: 100%;
            border-radius: 16px;
        }

        .product-button {
            display: block;
            background-color: $cor-botao;
            color: #fff;
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;
            text-decoration: none;

            &:hover {
                background-color: $cor-botao-hover;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}
